section.benefits
    h1 Ключевые преимущества
    .benefits__wrap
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefits-1.svg", alt="benefits")
            .benefits__text
                h3 Высокое качество материалов
                p Все материалы поступают напрямую от производителей и имеют сертификаты соответствия.
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefits-2.svg", alt="benefits")
            .benefits__text
                h3 Профессиональное выполнение
                p Специалисты имеют высокую квалификацию и большой опыт работы. На услуги дается гарантия
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefist-3.svg", alt="benefits")
            .benefits__text
                h3 Индивидуальный подход
                p Предлагаем разные варианты решения поставленной задачи в зависимости от требований заказчика
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefits-4.svg", alt="benefits")
            .benefits__text
                h3 Безопасность
                p При выполнении работ всегда соблюдается технология и требования ТБ 
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefits-5.svg", alt="benefits")
            .benefits__text
                h3 Удобство
                p Оплатить наши услуги можно любым способом: наличными, картой, банковским переводом
        .benefits__item
            .benefits__image
                img(src="./images/decor/benefits-6.svg", alt="benefits")
            .benefits__text
                h3 Доступные цены
                p Действуют скидки для оптовых заказчиков, а также акции и спецпредложения