header.header
    .header__top
        .wrapper
            .header__menu
                a(href="#") Новости
                a(href="#") Вопрос-ответ
                a(href="#") О компании
            .header__phone
                a(href="tel:+73830000000") +7 (383) 000-00-00
                a(href="tel:+73830000000") +7 (383) 000-00-00
    .header__main.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__form
            p Интернет-продажи сантехники и отделочных материалов
            form(action="#")
                input(type="text", name="serch")
                input(type="submit", value="")
        a(href="#").basket
            img(src="./images/icon/basket.svg", alt="basket")
            span 0
nav.menu
    .wrapper
        ul
            li.has-sub__1
                a(href="#") Каталог
                ul.sub-menu__1
                    li
                        a(href="#") Распродажа
                    li.has-sub__2
                        a(href="#") Сантехника
                        ul.sub-menu__2
                            li
                                a(href="#") Подкатегория
                            li.has-sub__3
                                a(href="#") Подкатегория
                                ul.sub-menu__3
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория
                                    li
                                        a(href="#") Подкатегория с длинным названием в две строки
                                    li
                                        a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                            li
                                a(href="#") Подкатегория
                    li
                        a(href="#") Мебель для ванной комнаты
                    li
                        a(href="#") Напольные покрытия
                    li
                        a(href="#") Двери
                    li
                        a(href="#") Дверная фурнитура
                    li
                        a(href="#") Кухонные фартуки
                    li
                        a(href="#") Настенные панели
                    li
                        a(href="#") Отопление
                    li
                        a(href="#") Водонагреватели
                    li
                        a(href="#") Инструменты
                    li
                        a(href="#") Свет
                    li
                        a(href="#") Керамическая плитка и кераморанит
                    li
                        a(href="#") Сайдинг и фасадные панели
                    li
                        a(href="#") Полотенцесушители
                    li  
                        a(href="#") Обои
                    li
                        a(href="#") Комплектаторам
            li
                a(href="#") Доставка и оплата
            li
                a(href="#") Услуги
            li
                a(href="#") Акции
            li
                a(href="#") Контакты
            li
                a(href="#") Дизайнерам
.breadcrumbs.wrapper
    a(href="./") Главная
    img(src="./images/icon/breadcrumbs.svg", alt="breadcrumbs")
    a(href="#") Каталог
    img(src="./images/icon/breadcrumbs.svg", alt="breadcrumbs")
    a(href="#") Сантехника
    img(src="./images/icon/breadcrumbs.svg", alt="breadcrumbs")
    a(href="#") Ванны
    img(src="./images/icon/breadcrumbs.svg", alt="breadcrumbs")
    a(href="#").active__breadcrumbs Ванна 150*75, White Wave, стальная, Classic
.content.wrapper
    aside.left
        .sidebar
            h2 Каталог
            ul
                li
                    a(href="#") Распродажа
                li
                    a(href="#") Сантехника
                li.has-sub__4
                    a(href="#") Мебель для ванной комнаты
                    ul.sub-menu__4
                        li
                            a(href="#") Категория
                        li.has-sub__5
                            a(href="#") Категория
                            ul.sub-menu__5
                                li
                                    a(href="#") Категория
                                li
                                    a(href="#") Категория
                                li
                                    a(href="#") Длинное название категории
                                li
                                    a(href="#") Категория
                        li
                            a(href="#") Длинное название категории
                        li
                            a(href="#") Категория
                li
                    a(href="#") Напольные покрытия
                li
                    a(href="#") Двери
                li
                    a(href="#") Дверная фурнитура
                li
                    a(href="#") Кухонные фартуки
                li
                    a(href="#") Настенные панели
                li
                    a(href="#") Отопление
                li
                    a(href="#") Водонагреватели
                li
                    a(href="#") Инструменты
                li
                    a(href="#") Свет
                li
                    a(href="#") Керамическая плитка и кераморанит
                li
                    a(href="#") Сайдинг и фасадные панели
                li
                    a(href="#") Полотенцесушители
                li
                    a(href="#") Обои
                li
                    a(href="#") Комплектаторам
    main.info
        .product
            .product__top
                .images
                    .images__big
                        .images__slide
                            img(src="./images/decor/product.jpg", alt="product")
                        .images__slide
                            img(src="./images/decor/product.jpg", alt="product")
                        .images__slide
                            img(src="./images/decor/product.jpg", alt="product")
                    .small
                        .small__slide
                            img(src="./images/decor/product.jpg", alt="product")
                        .small__slide
                            img(src="./images/decor/product.jpg", alt="product")
                        .small__slide
                            img(src="./images/decor/product.jpg", alt="product")
                .product__name
                    h3 Ванна 150*75, White Wave, стальная, Classic
                    p 4 500 руб./шт
                    .btn
                        .card__number
                            span.card__minus
                                img(src="./images/icon/minus.svg", alt="minus")
                            input(type="text", value="0")
                            span.card__plus
                                img(src="./images/icon/plus.svg", alt="plus")
                        a(href="#") В корзину
            .discript
                h4 Описание и технические характеристики
                .discript__table
                    .discript__col
                        .discript__row
                            span Бренд: 
                            span Whate Wave
                        .discript__row
                            span Страна производства: 
                            span Россия
                        .discript__row
                            span Коллекция: 
                            span Flow
                        .discript__row
                            span Базовая единица: 
                            span шт
                        .discript__row
                            span Материал ванны: 
                            span чугун
                        .discript__row
                            span Форма: 
                            span овальная
                        .discript__row
                            span Цвет ванны: 
                            span слоновая кость
                        .discript__row
                            span Тип установки: 
                            span отдельностоящая
                        .discript__row
                            span Слив-перелив: 
                            span приобретается отдельно
                        .discript__row
                            span Ножки: 
                            span в комплекте
                        .discript__row
                            span Ручки: 
                            span нет
                    .discript__col
                        .discript__row
                            span Габариты ванны: 
                            span 150х70
                        .discript__row
                            span Ширина ванны, мм: 
                            span 700
                        .discript__row
                            span Длина ванны, мм: 
                            span 1500
                        .discript__row
                            span Высота ванны, мм: 
                            span 622
                        .discript__row
                            span Глубина ванны, мм: 
                            span 445
                        .discript__row
                            span Объём, л: 
                            span 196
                .discript__text
                    p Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров требуют определения и уточнения новых предложений. Задача организации, в особенности же дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития. С другой стороны сложившаяся структура организации позволяет выполнять важные задания по разработке модели развития.
footer.footer
    .wrapper
        .footer__top
            a(href="./").logo
                img(src="./images/icon/logo-footer.svg", alt="logo")
            .footer__adress
                img(src="./images/icon/map.svg", alt="map")
                p г. Новосибирск <br> ул. Зорге, 334, этаж 2, каб. 3
            .footer__mail
                img(src="./images/icon/mail.svg", alt="mail")
                a(href="mailto:bp_54@mail.ru") bp_54@mail.ru
            .footer__phone
                img(src="./images/icon/phone.svg", alt="phone")
                div
                    a(href="tel:+73830000000") +7 (383) 000-00-00
                    a(href="tel:+73830000000") +7 (383) 000-00-00
        .footer__bottom
            .footer__copyright
                p © 2020 bp54.ru
                    a(href="#") Политика конфиденциальности
                p 
                    a(href="mailto:bp_54@mail.ru") bp_54@mail.ru 
                    | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.        
            .footer__links
                .footer__text
                    a(href="#") Создание сайтов
                    a(href="#") Продвижение сайтов
                a(href="#")
                    img(src="./images/icon/kontur.svg", alt="kontur")